$base-font-size: 62.6%;
$base-margin: 0;
$base-padding: 0;

* {
  box-sizing: border-box;
}

body {
  font-size: $base-font-size;
}

html,
body,
.root {
  font-family: Arial, Helvetica, sans-serif;
  margin: $base-margin;
  padding: $base-padding;
}
