$spacing-map: (
  mg: margin,
  pd: padding,
);
$spacing-values: (
  '0': '0',
  '05': '0.5rem',
  '1': '1rem',
  '2': '2rem',
  '3': '3rem',
  '4': '4rem',
  '5': '5rem'
);

$dimension-map: (
  t: top,
  r: right,
  l: left,
  b: bottom
);

@each $prefix, $rule in $spacing-map {
  @each $class-value, $value in $spacing-values {
    .#{$prefix}-#{$class-value} {
      #{$rule}: #{$value};
    }

    .#{$prefix}-x-#{$class-value} {
      #{$rule}-left: #{$value};
      #{$rule}-right: #{$value};
    }

    .#{$prefix}-y-#{$class-value} {
      #{$rule}-bottom: #{$value};
      #{$rule}-top: #{$value};
    }

    @each $direction, $dir-rule in $dimension-map {
      .#{$prefix}-#{$direction}-#{$class-value} {
        #{$rule}-#{$dir-rule}: #{$value};
      }
    }
  }
}
