$font-size-1: 4.2rem;
$font-size-2: 3.6rem;
$font-size-3: 2.8rem;
$font-size-4: 1.8rem;
$font-size-5: 1.4rem;
$font-size-6: 1.1rem;
$font-size-6: 0.8rem;

$font-weight-normal: 400;
$font-weight-strong: 700;

$spacing-05: 0.5rem;
$spacing-1: 1rem;
$spacing-2: 2rem;
$spacing-3: 3rem;
$spacing-4: 4rem;
$spacing-5: 5rem;

$z-index-1: 1;
$z-index-2: 10;
$z-index-3: 100;
